
* {
    box-sizing: border-box;
}

body {
    max-width: 970px;
    margin: auto;
}

.search {
    margin: 30px auto;
    text-align: center;
}

#searchInput {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
} 


.slide {
    display: inline;
    justify-content: center;

}